*.tfstate
*.tfstate.backup
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Visual Studio Code files
.vscode/

# Ignore .terraform directories
**/.terraform/*

# Ignore .DS_Store file
**/.DS_Store
